---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">{{ "About Me" }}</h3>
{{ "Welcome to my personal website. I am currently a Third Year Undergraduate
Student at the "}}
<a href="https://hkust.edu.hk/"
  >{{"Hong Kong University of Science and Technology"}}</a
>
{{". I am"}} {% if paginator %} {% assign posts = paginator.posts %} {% else %}
{% assign posts = site.posts %} {% endif %} {% assign entries_layout =
page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %} {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
